@import "settings/reset.scss";
@import "settings/variables.scss";
@import "components/start.scss";
@import "components/hangman.scss";
@import "layouts/container.scss";
@import "components/letters.scss";
@import "components/display-word.scss";
@import "components/lives.scss";
.display-none {
  display: none;
}
.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-around {
  margin-bottom: 3 rem;
  justify-content: space-around;
}
